body {
	background-color: #F2F2F2;
	margin: 0;
	padding: 0;
}

html, body {
	min-height: 100%;
	margin: 0;
	height: 100%;
}

/* * {
	border: solid red 1px;
}
 */
.content {
	width: 40rem;
	background-color: white;
	min-height: 5rem;
	text-align: center;
	display: block;
	margin: 0 auto;
	padding: 0;
}

.main {
	height: 100%;
}

.main .content {
	height: 100%;
}

.topInfo {
	padding-top: 2rem;
	padding-bottom: 1rem;
	font-size: 3em;
	font-family: sans-serif;
	vertical-align: middle;
}

.inputSection {
	padding-top: 3rem;
	padding-bottom: 2rem;
	overflow: hidden;
	text-align: center;
}

.imageBorder {
	height: 7em;
	width: 7em;
	border-radius: 50%;
	border: dotted 1px gray;
	display: inline-block;

}

.checklistImage {
	text-align: center;
	height: 5em;
	padding-top: 1em;
	padding-left: 0.5em;
	float: left;
	display: inline-block;
}

#entryField {
	width: 60%;
	margin-top: 30px;
	display: inline-block;
	height: 20px;
}

.entryButton {
	height: 20px;
	width: 20px;
	line-height: 20px;
	border: solid 1px gray;
	display: inline-block;
	font-weight: 600;
	cursor: pointer;
}

.listSection {
}

.itemList {
	list-style-type: none;
/*	float: left;*/
	text-align: left;
}

.itemBlock {
	margin: 0.2em;
	padding: 0.2em;
	width: 90%;
	border-bottom: dotted 1px gray;
}

.checkbox, .itemInfo, .removeButton {
	display: inline-block;
	vertical-align: middle;
}

.removeButton {
	float: right;
}

.checkbox {
	width: 19px;
	height: 19px;
	vertical-align: middle;
	background: url('../images/check_radio_sheet.png') left top no-repeat;
	cursor: pointer;
}

.checked {
	width: 19px;
	height: 19px;
	vertical-align: middle;
	background: url('../images/check_radio_sheet.png') -19px top no-repeat;
}

.removeButton {
	width: 20px;
	height: 20px;
	vertical-align: middle;
	background: url('../images/delete.png');
	display: none;
	cursor: pointer;
};

.itemInfo {

}

.struck {
	text-decoration: line-through;
}